<div class="pageFormContent nowrap" layoutH="127">
    <dl>
        <dt>所属专辑：</dt>
        <dd>$!vo.pname</dd>
    </dl>
    <dl>
        <dt>视频id：</dt>
        <dd>#if($!vo.id)$!vo.id
         <input type="hidden" name="id" value="$!vo.id"/>#end</dd>
    </dl>
    <dl>
        <dt>视频名称：</dt>
        <dd>
            <input type="text" name="name" #if($!vo.name)value="$!vo.name"#end />
        </dd>
    </dl>
    <dl>
        <dt>别名：</dt>
        <dd>
            <input type="text" name="alias" #if($!vo.alias)value="$!vo.alias"#end />
        </dd>
    </dl>
	 <dl>
        <dt>视频类型：</dt>
        <dd>
			#foreach($!info in $!{videoType.keySet()})
				#if($!info != 1) 
					<label><input type="radio" name="type" value=$!info #if($!info == $!vo.type) checked="checked" #end >$!{videoType.get($!info)}</label>
				#end
			#end
          
        </dd>
    </dl>
    <dl>
        <dt>描述：</dt>
        <dd>
        	<textarea rows="7" cols="100" name="description"> #if($!vo.description)$!vo.description#end</textarea>
            <!-- <input type="text" name="name" #if($!vo.description)value="$!vo.description"#end /> -->
        </dd>
    </dl>
    <dl>
        <dt>时长：</dt>
        <dd>
            <input type="text" name="duration" #if($!vo.duration)value="$!vo.duration"#end />
        </dd>
    </dl>
    <dl>
        <dt>是否高清：</dt>
        <dd>
            <label><input type="radio" name="isHeight"  value="1" #if($!vo.isHeight == 1) checked="checked" #end>是</label>
            <label><input type="radio" name="isHeight"  value="0" #if($!vo.isHeight != 1) checked="checked"#end>否</label>
</dd>
</dl>
<dl>
    <dt>视频封面图片：</dt>
    <dd>
    	#if($!vo.img)
    	<img src="../$!{vo.img}" width="96" height="128" >
    	#end
        <input type="file" name="myFile" />
    </dd>
    <dd id="front_img">
    
    </dd>
</dl>
 <dl>
        <dt>视频地址：</dt>
        <dd>
        	 <textarea rows="1" cols="100" name="link" >#if($!vo.link)$!vo.link#end</textarea>
        </dd>
    </dl>
#if($!vo.id)
    <dl>
        <dt>创建时间：</dt>
        <dd>$!vo.createTimeStr</dd>
    </dl>
    <dl>
        <dt>修改时间：</dt>
        <dd>$!vo.updateTimeStr</dd>
    </dl>
    <dl>
        <dt>创建人：</dt>
        <dd>$!vo.userId</dd>
    </dl>
    <dl>
        <dt>修改人：</dt>
        <dd>$!vo.updateUid</dd>
    </dl>
#end
</div>
