<style type="text/css">
.vlist{width:100%;border-collapse:collapse; }
.vlist td{border:1px solid #ccc;padding:5px 0;text-align:center;}
.vlist td p{text-align:left;padding-left:10px;line-height:22px;}
.vlist td a{margin-right:5px;_display:inline;}
.even_bg{background:#f0f4f6;}
</style>
<!--引用搜索-->
<div class="pageHeader">
    <form  class="pageForm required-validate"  onsubmit="return navTabSearch(this);"  id="pagerForm" action="../video/search.action?pid=$!pid&pname=$!pName" method="post">
    <div class="searchBar">
        <table class="searchContent">
            <tbody><tr>
				<td><label>搜索：</label>
					<input maxlength="30" type="text" size="30" name="searchName" #if($!name)value=$!name #end >
				</td>
                <td> <select name="nameType" >
				    <option value="0" #if($!nameType == 0)selected="selected" #end>名称</option>
					<option value="1" #if($!nameType == 1)selected="selected" #end>ID</option>
				  </select>
				 </td>
                
				<td>
					<div class="buttonActive"><div class="buttonContent"><button type="submit">检  索</button></div></div>
                </td>
            </tr>
			</tbody>
		</table>
    </div>
    </form>
</div>
<div class="pageContent">
	<div class="tabs" currentIndex=$!tabFlag>
			<div class="tabsHeader">
				<div class="tabsHeaderContent">
					<ul>
					   <a href="../video/toEdit.action?pid=$!pid&pname=$!pName" target="navTab" rel="addVideo$!pid" title="新增$!pName视频" class="button">
					   		<span>添加视频</span>
					   </a>
					</ul>
				</div>
			</div>
			<div class="tabsContent">
				<div>#parse("video/videoList.vm")</div>
			</div>
		</div>
</div>