<style type="text/css">
.vlist{width:100%;border-collapse:collapse; }
.vlist td{border:1px solid #ccc;padding:5px 0;text-align:center;}
.vlist td p{text-align:left;padding-left:10px;line-height:22px;}
.vlist td a{margin-right:5px;_display:inline;}
.even_bg{background:#f0f4f6;}
</style>
#parse("search/search.vm")
<div class="pageContent">
	<div class="tabs" currentIndex=$!tabFlag>
			<div class="tabsHeader">
				<div class="tabsHeaderContent">
					<ul>
					   <li><a href="" target="navTab" title="$!albumName - 视频管理" rel="albumVideoList$!pid" class="j-ajax"><span>视频管理</span></a></li>		
					   <li><a href="" target="navTab" title="$!albumName - 视频编辑" rel="albumVideoList$!pid" class="j-ajax"><span>视频编辑</span></a></li>	
					   <a href="" class="button" width="865" height="370" lookupgroup="video" title="批量设置视频属性"><span>批量修改</span></a>			  
					   <a href="" lookupgroup="addVideoGroup" class="button">
					   		<span>添加视频</span>
					   </a>
					   <input type="hidden" id="pageNumberIdentifier" value="$!pageNumber">
					</ul>
				</div>
			</div>
			<div class="tabsContent">
				<div>#parse("video/videoList.vm")</div>
			</div>
		</div>
</div>