<style type="text/css">
.vlist{width:100%;border-collapse:collapse; }
.vlist td{border:1px solid #ccc;padding:5px 0;text-align:center;}
.vlist td p{text-align:left;padding-left:10px;line-height:22px;}
.vlist td a{margin-right:5px;_display:inline;}
.even_bg{background:#f0f4f6;}
</style>
	<div class="tabs" currentIndex=$!index>
			<div class="tabsHeader">
				<div class="tabsHeaderContent">
					<ul>
					    <input type="hidden" id="pid" name="pid" value="$!pid" />
						#foreach($!info in $!{videoCount.keySet()})
							<li><a href="../video/list.action?pid=$!pid&pName=$!pName&type=$info" target="navTab" title="$!albumName - 视频管理" rel="albumVideoList$!pid" class="j-ajax" ><span>$!{videoCount.get($!info)}</span></a></li>
						#end
					</ul>
				</div>
				<div class="tabsLeft tabsLeftDisabled">left</div>
				<div class="tabsRight">right</div>
			</div>
			<div class="tabsContent" layoutH="128">
			  #foreach($!count in $!{videoCount.keySet()})
				<div class="tabList">
					<div style="overflow:auto;"  class="gridScroller">
						<table cellpadding="0" cellspacing="0" class="vlist">
					    	<tr>
					    		<td>编号</td>
								<td colspan="2" align="left">视频信息</td>
								<td>所属专辑</td>
							</tr>
							#if(!$null.isNull($!list)&&$!list.size()!=0&&$!list)
							#foreach($!info in $!list)
							<tr #if($velocityCount%2 ==1) class="even_bg" #end>
								<td>$velocityCount</td>
								<td width="140" align="center">
									<a title="视频 - $!info.name" href="" target="navTab" rel="editVideo$!{info.id}">
											<img src="$!{info.img}" style="width:120px;height:90px;" />
									</a>
								</td>
								<td>
									<p>
									视频ID：$!info.id
									&nbsp;&nbsp;
									</p>
									<p>视频名称：$!info.name</p>
								</td>
								<td>$!info.pName</td>
							</tr>
							#end
							#else
							<tr><td colspan="6">符合条件的数据不存在!</td></tr>
							#end
						</table>
					</div>
				</div>
			  #end
			</div>
		</div>
#parse("search/pageFoot.vm")
</div>