<!-- 分页 -->
 <div class="panelBar">  
   <div class="pages">   
       <span>显示</span>   
       <select  name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">   
        <option #if($!numPerPage == 10) selected="selected" #end value="10">10</option>   
        <option #if($!numPerPage == 20) selected="selected" #end value="20">20</option>   
        <option #if($!numPerPage == 30) selected="selected" #end value="30">30</option> 
        <option #if($!numPerPage == 50) selected="selected" #end value="50">50</option>   
        <option #if($!numPerPage ==100) selected="selected" #end value="100">100</option>  
       </select>   <span>共$!recordCount条</span> 
   </div>
   <div class="pagination" targetType="navTab"  totalCount="${recordCount}"   numPerPage="${numPerPage}" pageNumShown="10" currentPage="${pageNum}"></div>
  </div>
  <!-- 分页 END -->