<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/RamanSpectrum_release/src/cn/raman/launch/Launch.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cn.raman.launch.Launch"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="RamanSpectrum_release"/>
</launchConfiguration>
