<beans>

	<bean id="default">
		<property name="service" class=""></property>
		<property name="dao" class=""></property>
		<property name="adapter" class=""></property>
	</bean>
	<!-- id即为voName -->
	<!-- <bean id="user"> <service class="org.web.service.DefaultOperateService"></service> 
		<dao class="org.web.dao.impl.StudentArticleDaoImpl"></dao> </bean> -->

	<bean id="forum">
		<property name="dao" class="edu.jxau.dao.ForumDao"></property>
	</bean>
	<bean id="thesises">
		<property name="dao" class="edu.jxau.dao.ThesisesDao"></property>
		<property name="adapter" class="edu.jxau.dao.adapter.ThesisesAdapter"></property>
	</bean>
	<bean id="grade">
		<property name="adapter" class="edu.jxau.dao.adapter.GradeAdapter"></property>
	</bean>
	<bean id="UserInfo">
		<property name="dao" class="edu.jxau.dao.UserInfoDao"></property>
		<property name="service" class="edu.jxau.service.BackUserOper"></property>
	</bean>
</beans>