<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mastery.dao.IVideoInfoDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="VideoInfo">
		<result column="id" property="id" />
		<result column="pid" property="pid" />
		<result column="NAME" property="name" />
		<result column="TYPE" property="type" />
		<result column="ALIAS" property="alias" />
		<result column="IMG" property="img" />
		<result column="LINK" property="link" />
		<result column="DURATION" property="duration" />
		<result column="DESCRIPTION" property="description" />
		<result column="IS_HEIGHT" property="isHeight" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="USER_ID" property="userId" />
		<result column="UPDATE_UID" property="updateUid" />
		<result column="DELETED" property="deleted" />
	</resultMap>

	<!-- con_video_info table all fields -->
	<sql id="Base_Column_List">
		id,pid,NAME,TYPE,ALIAS,DESCRIPTION,DURATION,IMG,LINK,IS_HEIGHT,CREATE_TIME,UPDATE_TIME,USER_ID,UPDATE_UID,DELETED
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1 and DELETED != 1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and id=#{id}
			</if>
			<if test="pid != null  ">
				and pid=#{pid}
			</if>
			<if test="type != null  ">
				and TYPE=#{type}
			</if>
			<if test="name != null  and name != ''">
				and NAME=#{name}
			</if>
			<if test="alias != null  and alias != ''">
				and ALIAS=#{alias}
			</if>
			<if test="isHeight != null">
				and IS_HEIGHT=#{isHeight}
			</if>
			<if test="createTime != null  ">
				and CREATE_TIME=#{createTime}
			</if>
			<if test="updateTime != null  ">
				and UPDATE_TIME=#{updateTime}
			</if>
			<if test="userId != null  ">
				and USER_ID=#{userId}
			</if>
			<if test="updateUid != null  ">
				and UPDATE_UID=#{updateUid}
			</if>
			<if test="baseStart != null and baseSize != null ">
				limit #{baseStart}, #{baseSize}
			</if>
		</trim>
	</sql>


	<!-- 插入记录 -->
	<insert id="insert" parameterType="VideoInfo">
		insert into
		con_video_info(pid,NAME,TYPE,ALIAS,DESCRIPTION,DURATION,IMG,LINK,IS_HEIGHT,CREATE_TIME,USER_ID)
		values(#{pid},#{name},#{type},#{alias},#{description},#{duration},#{img},#{link},#{isHeight},NOW(),#{userId})
		<selectKey keyProperty="id" resultType="long" order="AFTER">
			select
			LAST_INSERT_ID()
		</selectKey>
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="VideoInfo">
		update con_video_info set
		pid=#{pid},NAME=#{name},ALIAS=#{alias},TYPE=#{type},IMG=#{img},LINK=#{link},DURATION=#{duration},DESCRIPTION=#{description},IS_HEIGHT=#{isHeight},DELETED=#{deleted},UPDATE_UID=#{updateUid},UPDATE_TIME
		= NOW() where
		id=#{id}
	</update>

	<update id="updateBySelective" parameterType="VideoInfo">
		update con_video_info set
		<trim suffixOverrides=",">
			<if test="pid != null  ">
				pid=#{pid},
			</if>
			<if test="name != null  and name != '' ">
				NAME=#{name},
			</if>
			<if test="alias != null  and alias != '' ">
				ALIAS=#{alias},
			</if>
			<if test="type != null  and type != '' ">
				TYPE=#{type},
			</if>
			<if test="img != null  and img != '' ">
				IMG=#{img},
			</if>
			<if test="link != null  and link != '' ">
				LINK=#{link},
			</if>
			<if test="description != null  and description != '' ">
				DESCRIPTION=#{description},
			</if>
			<if test="duration != null ">
				DURATION=#{duration},
			</if>
			<if test="isHeight != null  ">
				IS_HEIGHT=#{isHeight},
			</if>
			<if test="deleted != null  ">
				DELETED=#{deleted},
			</if>
			<if test="userId != null  ">
				USER_ID=#{userId},
			</if>
			<if test="updateUid != null  ">
				UPDATE_UID=#{updateUid},
			</if>
			UPDATE_TIME = NOW()
		</trim>
		where ID=#{id}
	</update>



	<!-- 逻辑删除，将deleted 改成 1 -->
	<update id="delete" parameterType="VideoInfo">
		update con_video_info set
		DELETED=1 , UPDATE_TIME = NOW(), UPDATE_UID=#{updateUid} where
		id
		=#{id}
	</update>

	<!-- 列表 -->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from con_video_info where ID = #{id}
	</select>
	
	<!-- 模糊搜索列表 -->
	<select id="selectVagueByModel" resultMap="BaseResultMap" parameterType="VideoInfo">
		select
		<include refid="Base_Column_List" />
		from con_video_info where 1=1 and DELETED != 1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and id=#{id}
			</if>
			<if test="name != null  and name != '' ">
				and NAME like CONCAT('%',#{name},'%') 
			</if>
		</trim>
	</select>

	<!-- 列表总数 -->
	<select id="selectByModelCount" resultType="java.lang.Integer"
		parameterType="VideoInfo">
		select count(1) from con_video_info
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 根据id查询 -->
	<select id="selectByModel" resultMap="BaseResultMap"
		parameterType="VideoInfo">
		select
		<include refid="Base_Column_List" />
		from con_video_info
		<include refid="Example_Where_Clause" />

	</select>


	<!-- 列表总数 -->
	<select id="selectByMapCount" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select count(1) from con_video_info
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 根据id查询 -->
	<select id="selectByMap" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from con_video_info
		<include refid="Example_Where_Clause" />

	</select>

	<!-- 根据sql查询 -->
	<select id="selectByBuilder" resultMap="BaseResultMap"
		parameterType="com.mastery.common.sql.object.SelectSql">
		SELECT ${selectCondition}
		FROM con_video_info
		<if test="whereCondition != null and whereCondition != '' ">
			WHERE ${whereCondition}
		</if>
		<if test="orderByCondition != null  and orderByCondition != '' ">
			ORDER BY ${orderByCondition}
		</if>
		<if test="limitCondition != null  and limitCondition != '' ">
			LIMIT ${limitCondition}
		</if>
	</select>

	<!-- 根据sql查询列表总数 -->
	<select id="selectCountByBuilder" resultType="java.lang.Integer"
		parameterType="com.mastery.common.sql.object.SelectSql">
		SELECT count(*)
		FROM con_video_info
		<if test="whereCondition != null and whereCondition != '' ">
			WHERE ${whereCondition}
		</if>
	</select>

</mapper>   
