<div class="pageFormContent nowrap" layoutH="127">
    <dl>
        <dt>所属频道：</dt>
        <dd>$!vo.cname  <input type="hidden" name="cid" value="$!vo.cid"/></dd>
    </dl>
    <dl>
        <dt>专辑id：</dt>
        <dd>#if($!vo.id)$!vo.id
         <input type="hidden" name="id" value="$!vo.id"/>#end</dd>
    </dl>
    <dl>
        <dt>专辑名称：</dt>
        <dd>
            <input type="text" name="name" #if($!vo.name)value="$!vo.name"#end />
        </dd>
    </dl>
    <dl>
        <dt>副标题：</dt>
        <dd>
            <input type="text" name="subTitle" #if($!vo.subTitle)value="$!vo.subTitle"#end />
        </dd>
    </dl>
    <dl>
        <dt>详细介绍：</dt>
        <dd>
        	<textarea rows="7" cols="100" name="description"> #if($!vo.description)$!vo.description#end</textarea>
            <!-- <input type="text" name="name" #if($!vo.description)value="$!vo.description"#end /> -->
        </dd>
    </dl>
    <dl>
        <dt>简略介绍：</dt>
        <dd>
        <textarea rows="7" cols="100" name="shortDesc" >#if($!vo.shortDesc)$!vo.shortDesc#end</textarea>
            <!-- <input type="text" name="shortDesc" #if($!vo.shortDesc)value="$!vo.shortDesc"#end /> -->
        </dd>
    </dl>
    <dl>
        <dt>标签：</dt>
        <dd>
            <input type="text" name="tag" #if($!vo.tag)value="$!vo.tag"#end />
        </dd>
    </dl>
    <dl>
        <dt>上映时间：</dt>
        <dd>
            <input type="text" name="releaseDate" #if($!vo.releaseDate)value="$!vo.releaseDate"#end />
        </dd>
    </dl>
    <dl>
        <dt>是否完结：</dt>
        <dd>
            <input type="radio" name="isEnd"  value="1" #if($!vo.isEnd == 1) checked="checked" #end>是
                    <input type="radio" name="isEnd"  value="0" #if($!vo.isEnd != 1) checked="checked"#end>否
</dd>
</dl>
<dl>
    <dt>专辑封面图片：</dt>
    <dd>
    	#if($!vo.img)
    	<img src="$!{vo.img}" width="96" height="128" >
    	#end
        <input type="file" name="myFile" />
    </dd>
    <dd id="front_img">
    
    </dd>
</dl>
 <dl>
        <dt>视频地址：</dt>
        <dd>
        	 <textarea rows="1" cols="100" name="link" >#if($!vo.link)$!vo.link#end</textarea>
        </dd>
    </dl>
#if($!vo.id)
    <dl>
        <dt>创建时间：</dt>
        <dd>$!vo.createTimeStr</dd>
    </dl>
    <dl>
        <dt>修改时间：</dt>
        <dd>$!vo.updateTimeStr</dd>
    </dl>
    <dl>
        <dt>创建人：</dt>
        <dd>$!vo.userId</dd>
    </dl>
    <dl>
        <dt>修改人：</dt>
        <dd>$!vo.updateUid</dd>
    </dl>
#end
</div>
